/* Write your custom CSS here */
body { 
    padding-right: 0 !important 
}
img {
    display: block;
    max-width:475px;
    max-height:475px;
    width: auto;
    height: auto;
}
#thisMonthReportChart {
    width: calc(100% + 51px);
    height: 100px;
    margin: 20px -26px -27px -25px;
}
#thisYearReportChart {
    width: calc(100% + 51px);
    height: 100px;
    margin: 20px -26px -27px -25px;
}
#canceledReportChart {
    width: calc(100% + 51px);
    height: 100px;
    margin: 20px -26px -27px -25px;
}